.landing {
  height: 35vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  padding-top: 2rem;
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
}

.about-me {
  height: 65vh;
  margin: 0 auto;
  background-color: lightblue;
}

.abilities {
  height: 50vh;
  background-color: lightgray;
}

@media only screen and (max-width: 600px) {
  .landing {
    height: 45vh !important;
  }
}
